<div class="col-xs-12 col-sm-8 col-md-9 content-column">
            <div class="small-navbar visible-xs">
              <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
              <h1 class="small-navbar-heading"> <a href="index.html">Creative </a></h1>
            </div>
            <div class="grid">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay"><img src="https://i.pinimg.com/736x/1f/52/cf/1f52cfb100077212725f823fb225e472--banana-art-funny-food.jpg" alt="" class="img-responsive"></a>
                    <div class="box-masonry-hover-text-header"> 
                      <h4> <a href="detail.html">Name of the work 1</a></h4>
                      <div class="box-masonry-desription">
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life. One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="https://i.pinimg.com/736x/1f/52/cf/1f52cfb100077212725f823fb225e472--banana-art-funny-food.jpg" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html"></a>1) JOHN, HAHA. WHERE DID YOU FIND THIS ONE!?</h4>
                      <div class="box-masonry-desription">
                        <p> When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="https://i.pinimg.com/736x/1f/52/cf/1f52cfb100077212725f823fb225e472--banana-art-funny-food.jpg" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">OH SOMEWHERE ONLINE HAHA. IT JUST CRACKED ME UP! THANKS FOR JOIN US TONIGHT BILL</a></h4>
                      <div class="box-masonry-desription">
                        <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry">
                    <div class="box-masonry-text">
                      <h4> <a href="https://i.pinimg.com/736x/1f/52/cf/1f52cfb100077212725f823fb225e472--banana-art-funny-food.jpg">2)I REALLY, REALLY, REALLY LIKE THIS IMAGE</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay"><img src="https://i.pinimg.com/736x/1f/52/cf/1f52cfb100077212725f823fb225e472--banana-art-funny-food.jpg" alt="" class="img-responsive"></a>
                    <div class="box-masonry-hover-text-header"> 
                      <h4> <a href="detail.html">3) ME TOO! SAVE IT, IT'S ALL YOURS MY FRIEND</a></h4>
                      <div class="box-masonry-desription">
                        <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry">
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">4)HAHAHA,GREAT PIC</a></h4>
                      <div class="box-masonry-desription">
                        <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="https://i.pinimg.com/736x/1f/52/cf/1f52cfb100077212725f823fb225e472--banana-art-funny-food.jpg" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">5)THANKS LORY</a></h4>
                      <div class="box-masonry-desription">
                        <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="https://i.pinimg.com/736x/1f/52/cf/1f52cfb100077212725f823fb225e472--banana-art-funny-food.jpg" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">I can almost see your pathetic overweight frame glowing in the dark, lit by your computer screen which is the only source of light in your room, giggling like a like girl as you once again type your little Banana image up and fill in the image html. Or maybe you don’t even fill in the image html. Maybe you’re such a disgusting NEET that you actually paid for a bootstrap theme, so you just choose the picture. Oh, and we all know the picture. The “epic” Banana guy, isn’t it? I imagine you little shit laughing so hard as you click it that you drop your Doritos on the floor, but it’s ok, your mother will clean it up in the morning. Oh, that’s right. Did I fail to mention? You live with your mother. You are a fat screwup, she’s probably so sick of you already. So sick of having to do everything for you all day, every day, for a grown man who spends all his time on bootstrap posting about a banana. Just imagine this. She had you, and then she thought you were gonna be a scientist or an astronaut or something grand, and then you became a NEET. A pathetic Bananaposting NEET. She probably cries herself to sleep everyday thinking about how bad it is and how she wishes she could just disappear. She can’t even try to talk with you because all you say is “I REALLY REALLY LIKE THIS PICTURE.” You’ve become a parody of your own self. And that’s all you are. A sad little man laughing in the dark by himself as he prepares to indulge in the same old dance that he’s done a million times now. And that’s all you’ll ever be.</a></h4>
                      <div class="box-masonry-desription">
                        <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="https://i.pinimg.com/736x/1f/52/cf/1f52cfb100077212725f823fb225e472--banana-art-funny-food.jpg" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">Item with image</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay"><img src="https://i.pinimg.com/736x/1f/52/cf/1f52cfb100077212725f823fb225e472--banana-art-funny-food.jpg" alt="" class="img-responsive"></a>
                    <div class="box-masonry-hover-text-header"> 
                      <h4> <a href="detail.html">Item with image</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay"><img src="https://i.pinimg.com/736x/1f/52/cf/1f52cfb100077212725f823fb225e472--banana-art-funny-food.jpg" alt="" class="img-responsive"></a>
                    <div class="box-masonry-hover-text-header"> 
                      <h4> <a href="detail.html">Item with image</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>