<div class="row">
              <div class="col-lg-8">
                <div class="content-column-content">
                  <h1><%= @student.first_name %></h1>
                  <h2><%= @student.capstones[0]["name"] %></h2>
                  <p class="lead"><%= @student.capstones[0]["description"] %></p>
                  <img src="<%= @student.capstones[0]["screenshot"] %>" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>